@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin: 40px 0 0px 0;
    height: 150px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

#link-cardapio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0 80px 0 80px;
}

#icon {
    margin: 0 110px 0 80px;
}

#link-hamburguer, #link-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0 80px;
}

#link-wpp {
    margin: 0 80px;
}

a {
    text-align: center;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

#links-menu {
    margin: 0 auto;
}

/* link-cardapio hover underline */

#link-cardapio::after {
    content: "";
    width: 70%;
    height: 3px;
    margin-top: -4px;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#link-cardapio:hover {
    color: #ff0000;
}

#link-cardapio:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* link-hamburguer hover underline */

#link-hamburguer::after {
    content: "";
    width: 60%;
    height: 3px;
    margin-top: -4px;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#link-hamburguer:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* link-contato hover underline */

#link-contato::after {
    content: "";
    width: 60%;
    height: 3px;
    margin-top: -4px;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#link-contato:hover {

    color: #ff0000;

}

#link-contato:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.item1 {
    margin-top: 54px;
    background: url("./assets/imgs/image-banner-1.png");
    background-repeat: no-repeat;
}

.item2 {
    background: url("./assets/imgs/image-banner-2.png");
    background-repeat: no-repeat;
}

#title1, #title3 {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 108px;
    color: #F2A20C;
    padding-top: 20px;

}

#title3 {
    font-size: 70px;
    padding: 3px 33px;
    border-radius: 10px;
    width: fit-content;
    background-color: #FF0000;
}

#title2, #title4 {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    margin: 35px 0;
    color: #000000;
}

#btn-compre-agora {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    width: 200px;
    height: 55px;
    background: #FF1111;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button {
    margin-bottom: 20px;
}

#btn-compre-agora:hover {
    transform: scale(1.2);
}

#texto {
    display: flex;
    margin-left: 1267px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.effect.effect-5 {
    transition: all 0.2s linear 0s;
}

.effect.effect-5:before {
    content: "\f054";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
}

.effect.effect-5:hover {
    text-indent: 30px;
}

.effect.effect-5:hover:before {
    transform: scale(1, 1);
    text-indent: 0;
}

#link-wpp {
    cursor: pointer;
}

.fa-brands, .fa-whatsapp i {
    color: black;
    font-size: 30px;
    transition: all 0.5s ease;
    border-radius: 30px;
}


#link-wpp::before {
    transition-duration: 0.5s;
    border-radius: 30px;
}

.fa-brands:hover::before, .fa-whatsapp:hover::before {
    color: #00E676;
    background-color: white;
}

.swing:hover {
    -webkit-animation: swing 0.7s ease;
    animation: swing 0.7s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}