@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 21px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    margin-top: 20px;
}

#conteudo-esq {
    display: flex;
    flex-direction: column;
}


header>a>img {
    width: 150px;
    height: 150px;
}

#conteudo-esq>h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 14px 0;
    color: #F9F9F9;
}

#conteudo-esq>h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 68px;
    line-height: 109%;
    width: 440px;
    color: #F9F9F9;
}

#conteudo-esq>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 440px;
    font-size: 16px;
    line-height: 180%;
    margin: 25px 0 46px;
    color: #F9F9F9;
}


#conteudo-dir, #conteudo-esq {
    display: flex;
}

#conteudo-dir {
    height: 370px;
}

#btns {
    display: flex;
    justify-content: space-between;
}

#btn1, #btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-transform: uppercase;
    color: #F9F9F9;
    cursor: pointer;
}

#btn1 {
    background-color: #658E76;
    clip-path: polygon(11% 0, 100% 0, 90% 100%, 0 100%);
}

#btn1>img {
    justify-content: center;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

#btn2 {
    border: 2px solid #658E76;
    clip-path: polygon(11% 0, 100% 0, 90% 100%, 0 100%);
}

#btn1:hover, #btn2:hover{
-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    animation: tremer .2s;
    animation-iteration-count: 4;
}