#secao_paragrafos {
    height: 100%;
    color: #ff00c8;
    font-size: 20px;
    background: #00ff15;
}

:root {
    --body-bg: #fafafa;
    --body-color: #555;
    --link-color: #222;
    --link-color-hover: #ec5840;
}

body {
    background-color: var(--body-bg);
    color: var(--body-color);
}


.dark-mode:root {
    --body-bg: #212529;
    --body-color: #899095;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;
}

.toggle {
    display: none;
}

.toggle+label {
    width: 40px;
    height: 20px;
    background: lightgrey;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle+label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.toggle:checked+label {
    background: rgb(35, 226, 35);
}

.toggle:checked+label::before {
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
}